<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="宠物,哈士奇,拉布拉多,金毛,布偶猫" />
    <meta name="description" content="关于宠物的新鲜事有很多，有搞笑的趣闻，也有让你笑料不停的动态图，猫猫狗狗的趣事乐不停！" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/static/footdon.png">
    <link rel="stylesheet" href="/static/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/css/petshow.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/amazeui.min.js"></script>
    <base target="_blank" />
    {% block CSS %}
    {% endblock %}
</head>
<body>
<header class="am-topbar am-topbar-inverse">
    <div class="amz-container">
        <h1 class="am-topbar-brand">
            <a href="/show/" class="am-topbar-logo">
                <img src="/static/logo.png" alt="宠物秀">
            </a>
        </h1>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                data-am-collapse="{target: '#doc-topbar-collapse-5'}">
            <span class="am-sr-only">
                导航切换
            </span>
            <span class="am-icon-bars">
            </span>
        </button>
     <script>

     </script>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-5">
            <ul class="am-nav am-nav-pills am-topbar-nav pet_filter">
                <li class="am-active">
                    <a href="/show/" title="宠物秀" target="_self">
                        首页
                    </a>
                </li>
                <li class="am-dropdown" data-am-dropdown="">
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle="" href="javascript:;" target="_self">
                        发现萌宠
                        <span class="am-icon-caret-down">
                        </span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li>
                            <a href="{% url 'show:pets' %}?pn=1&t=tpty" title="图片涂鸦" target="_self">
                                图片涂鸦
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'show:pets' %}?pn=1&t=yyty" title="语音涂鸦" target="_self">
                                语音涂鸦
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'show:pets' %}?pn=1&t=rqzg" title="人气排行" target="_self">
                                人气排行
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'show:pets' %}?pn=1&t=zxmc" title="最新发布" target="_self">
                                最新发布
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'show:fresh' '1' %}?t=fresh" title="新鲜事" target="_blank">
                        新鲜事
                    </a>
                </li>
                <li>
                    <a href="{% url 'show:knowledge' '3' %}?t=knowledge" title="涨知识" target="_blank">涨知识</a>
                </li>
                <li>
                    <a href="{% url 'show:topic' %}" title="萌专题" target="_blank">
                        萌专题
                    </a>
                </li>
{#                <li>#}
{#                    <a href="{% url 'show:baike' '0' %}" title="宠物百科" target="_blank">#}
{#                        宠物百科#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="{% url 'show:question' '0' %}" title="宠物问答" target="_blank ">#}
{#                        宠物问答#}
{#                    </a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="http://www.petshow.cc/s.html" title="宠物服务" target="_blank" >#}
{#                        宠物服务#}
{#                    </a>#}
{#                </li>#}
            </ul>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<footer class="am_footer">
    <div class="am_footer_con">
        <div class="am_footer_link">
            <span><a href="/about.html" title="关于宠物秀">关于宠物秀</a></span>
            <ul>
                <li><a rel="external nofollow" href="http://android.myapp.com/myapp/detail.htm?apkName=com.lbt.staffy.walkthedog" title="遛狗圈" rel="nofollow">遛狗圈</a></li>
            </ul>
        </div>


        <div class="am_footer_don">
            <span>宠物秀</span>
            <dl>
                <dt><img src="/static/footdon.png" alt=""></dt>
                <dd>搞笑超激萌的宠物秀平台，不管是哈士奇 拉布拉多 萨摩耶 金毛 布偶猫 加菲猫 巴哥还是小宠物都来发布吧！原创宠物猫狗萌宠自拍移动社区！
                   <a rel="external nofollow" href="https://itunes.apple.com/us/app/chong-wu-xiu/id976605844?l=zh&ls=1&mt=8" rel="nofollow" title="宠物App store版" class="footdon_pg ">
                        <div class="foot_d_pg am-icon-apple ">App store</div>
                    </a><a rel="external nofollow" href="http://android.myapp.com/myapp/detail.htm?apkName=com.staffy.pet" rel="nofollow" title="宠物秀安卓版"   class="footdon_az animated">
                        <div class="foot_d_az am-icon-android "> Android</div>
                    </a></dd>
</dl>
        </div>

        <div class="am_footer_erweima">
            <div class="am_footer_weixin"><img src="http://assets.petshow.cc/pc/v2/img/wx.jpg" alt="">

                <div class="am_footer_d_gzwx am-icon-weixin"> 关注微信</div>
            </div>
            <div class="am_footer_ddon"><img src="http://assets.petshow.cc/pc/v2/img/dndn.png" alt="">

                <div class="am_footer_d_dxz am-icon-cloud-download"> 扫码下载</div>
            </div>

        </div>

    </div>
    <div class="am_info_line">Copyright(c)2015 <span>PetShow</span> All Rights Reserved</div>
{#    <img src="http://c.cnzz.com/wapstat.php?siteid=1255832147&r=&rnd=557130984" width="0" height="0"/>    #}
    <script src="/static/js/petshow.js"></script>
</footer>

{% block JS %}
{% endblock %}

</body>
</html>
