{% extends 'base.html' %}

{% block title %}权限列表{% endblock %}

{% block content %}
<section class="Hui-article-box">
	<nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> <a href="{% url 'bms:index' %}" class="maincolor">首页</a> <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">
				<form class="Huiform" target="_self">
					<input type="text" class="input-text" style="width:250px" placeholder="权限名称" id="search-key" name="search-key">
					<button type="button" class="btn btn-success" id="btn-search"><i class="Hui-iconfont">&#xe665;</i> 搜权限节点</button>
				</form>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l">
                    <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
                    <a href="javascript:;" onclick="auth_add('添加权限节点','{% url 'bms:auth_addoredit' %}','','310')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加权限节点</a>
                </span>
                <span class="r">共有数据：<strong></strong> 条</span>
            </div>
			<table class="table table-border table-bordered table-bg table">
                {% csrf_token %}
				<thead>
					<tr>
						<th scope="col" colspan="7">权限节点</th>
					</tr>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<th width="40">序号</th>
						<th width="200">权限名称</th>
                        <th>路由</th>
						<th>父级</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody id="data_list">
{#					<tr class="text-c">#}
{#						<td><input type="checkbox" value="1" name=""></td>#}
{#						<td>1</td>#}
{#						<td>栏目添加</td>#}
{#						<td></td>#}
{#						<td>#}
{#                            <a title="编辑" href="javascript:;" onclick="admin_permission_edit('角色编辑','admin-permission-add.html','1','','310')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> #}
{#                            <a title="删除" href="javascript:;" onclick="admin_permission_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>#}
{#                        </td>#}
{#					</tr>#}
				</tbody>
			</table>
            <div id="page" style="float: right; margin-top: 10px;"></div>
		</article>
	</div>
</section>
{% endblock %}

{% block JS %}
<!--请在下方写此页面业务相关的脚本-->
{#<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>#}
{#<script type="text/javascript" src="/static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>#}
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

$(function () {
    var search = window.location.search;
    pn = search.split('&')[0].split('=')[1];
    sk = search.split('&')[1].split('=')[1];
    $.getJSON('/bms/get_auth_list/?pn=' + pn + '&sk=' + sk, function (data) {
        if(data.code == '200'){
            var datas = data.data_list;
            var html = '';
            for(var i=0;i<datas.length;i++){
                html += '<tr class="text-c">';
                html += '<td><input type="checkbox" value="'+datas[i].id+'" name=""></td>';
                html += '<td>'+((data.pn - 1) * data.ps +(i+1))+'</td>';
                html += '<td>'+datas[i].name+'</td>';
                if(datas[i].url == '') {
                    html += '<td>--</td>';
                }else {
                    html += '<td>' + datas[i].url + '</td>';
                }
                if(datas[i].parent == '') {
                    html += '<td>--</td>';
                }else {
                    html += '<td>'+datas[i].parent.name+'</td>';
                }

                html += '<td><a title="编辑" href="javascript:;" onclick="auth_edit(\'角色编辑\',\'{% url 'bms:auth_addoredit' %}?aid='+datas[i].id+'\',\'1\',\'\',\'310\')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>';
                html += '<a title="删除" href="javascript:;" onclick="auth_del(this,\''+datas[i].id+'\')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td></tr>';
            }
            $('#data_list').append(html);
            $('.r strong').html(data.data_count);

            laypage({
                cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                pages: data.page_count, //通过后台拿到的总页数
                curr: data.pn || 1, //当前页
                jump: function(obj, first){ //触发分页后的回调
                    if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
                        window.parent.location.href = '{% url 'bms:auths' %}?pn=' + obj.curr + '&sk=' +sk;
                    }
                }
            });
        }else {
            layer.msg(data.msg, {icon: 2, time: 1500});
        }
    });
});

$('#btn-search').on('click', function (e) {
    e.preventDefault();

    var sk = $('#search-key').val().trim();
    if(sk == ''){
        layer.msg('搜索关键字不能为空', {icon: 2, time: 1500});
        return;
    }
    window.parent.location.href = '{% url 'bms:auths' %}?pn=1&sk=' + sk;
});

/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-权限-添加*/
function auth_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-权限-编辑*/
function auth_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*管理员-权限-删除*/
function auth_del(obj,id){
	layer.confirm('权限删除须谨慎，确认要删除吗？',function(index){
	    var csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]').val();
	    $.ajax({
            url: "{% url 'bms:auth_del' %}",
            type: 'post',
            data: {'aid':id, 'csrfmiddlewaretoken': csrfmiddlewaretoken},
            dataType: 'json',
            success: function (data) {
                if (data.code == '200'){
		            layer.msg('删除成功!',{icon:1,time:1000});
		            window.parent.location.href = '{% url 'bms:auths' %}?pn='+pn+'&sk='+sk;
                }else {
                    layer.msg(data.msg, {icon: 2, time: 1500});
                }
            },
            error: function (error) {
                console.log(error);
                layer.msg('请求失败', {icon: 2, time: 1500});
            }
        });

	});
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
{% endblock %}